<div class="container">
    <h2 class="list-group-item text-center">----- Add Slot -----</h2><br />
    <form class="col-6" #slotData="ngForm" autocomplete="off" (ngSubmit)="onSubmitSlot(slotData)">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Floor</span>
            </div>
            <input name="floor" type="text" class="form-control" placeholder="Enter Floor" id="floor" #floor="ngModel"
                [(ngModel)]="slotModel.floor" minlength="3" required /> &nbsp; &nbsp; &nbsp;
            <div style="color:red;" *ngIf="!floor?.valid && (floor?.dirty || floor?.touched)">
                Invalid Floor
            </div>
        </div>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Vehicle Type</span>
            </div>
            <select value="Choose Slot Type" class="form-select" aria-label="Default select example" name="type"
                id="type" #type="ngModel" [(ngModel)]="slotModel.type" placeholder="Select the type" required>
                <option value=0>Two Wheeler</option>
                <option value=1>Four Wheeler</option>
            </select>
            &nbsp; &nbsp; &nbsp;
            <div style="color:red;" *ngIf="!type?.valid && (type?.dirty || type?.touched)">
                Invalid Slot Type
            </div>
        </div>
        <br />
        <button type="submit" [disabled]="slotData.invalid" class="btn btn-success"> Submit </button>
        <br />
        <br />
    </form>
</div>