<div class="container bg-success mt-2 pb-4 w-50 rounded">
    <div class="row justify-content-center">
        <div class="form-group col-md-6 col-md-offset-5 align-center ">
            <form class="form-signin" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
                <div class="container-fluid">
                    <h2 class="form-signin-heading mt-4">Sign Up</h2>
                    <div class="form-group mt-2">
                        <label for="username"><strong>Username</strong></label>
                        <input class="form-control" placeholder="Username" id="username" type="text" #Username="ngModel"
                            name="Username" [(ngModel)]="formModel.Username" required minlength="4" />
                    </div>
                    <div *ngIf="Username.invalid && (Username.dirty || Username.touched)" class="alert alert-danger">

                        <div *ngIf="Username.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="Username.errors?.['minlength']">
                            Name must be at least 4 characters long.
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password"><strong>Password</strong></label>
                        <input class="form-control" placeholder="Password" id="password" type="password"
                            #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required
                            minlength="8" />
                    </div>
                    <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert alert-danger">

                        <div *ngIf="Password.errors?.['required']">
                            Password is required.
                        </div>
                        <div *ngIf="Password.errors?.['minlength']">
                            Password must be at least 8 characters long.
                        </div>
                    </div>
                    <div class="form-group col-md-8 mt-4">
                        <button class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>